body{
  font-family: Helvetica;
}
div, input, button{
  box-sizing: border-box;
}
form{
  margin: 55px 15px 45px 15px;
}
.register,
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px;
  border: 1px solid #b8b8b8;
}
.register input,
.login input{
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0px auto 10px auto;
  padding: 5px 10px;
}
.register button,
.login button{
  display: block;
  margin: auto;
  border: none;
  padding: 10px 20px;
  background-color: #c7262d;
  color: #fff;
}
.login .new-player{
  display: block;
  color: #c7262d;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.toast{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #c7262d;
  color: #fff;
  font-size: 20px;
}
